@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  background-color: #0a090c;
  font-family: "Inter", sans-serif;
  width: 100vw;
  max-height: 5000px;
}
