.informacoes {
  margin: 20px 0px;
}

.ContainerCharts {
  display: flex;
}

.labels {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.chartsreport {
  width: 50%;
  padding: 20px 1cm;
}
